@import "cadastro-membros-tabs.css";

#form-cadastro-membro {
    margin: 0 auto;
    width: 80vw;
}

#form-cadastro-membro div {
    margin-top: 10px;
    margin-left: 100px;
}

#form-cadastro-membro label {
    display: block;
    font: 16px "Calibri", Arial, sans-serif;
}
#form-cadastro-membro > fieldset > div input {
    padding: 5px 10px;
    font: 16px Helvetica, Arial, sans-serif;

    border: 1px solid #999;
    border-radius: 5px;
}

#form-cadastro-membro > fieldset > div #input-nome {
    width: 50vw;
}

#form-cadastro-membro > fieldset > div #input-endereco {
    width: 30vw;
}